In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from xgboost import XGBClassifier
from xgboost import plot_importance
from xgboost import plot_importance
from lightgbm import LGBMClassifier
from lightgbm import plot_importance
from lightgbm import plot_importance

import statsmodels.formula.api as smf
from statsmodels.api import qqplot, add_constant
from statsmodels.api import Logit
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.proportion import proportions_ztest

from subprocess import call
from IPython.display import Image
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
from yellowbrick.cluster import SilhouetteVisualizer

import graphviz
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.cluster import AgglomerativeClustering, KMeans, DBSCAN
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import RFE

from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, mean_absolute_percentage_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score, f1_score, confusion_matrix, classification_report
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import silhouette_samples, silhouette_score
from imblearn.over_sampling import SMOTE

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import warnings
warnings.filterwarnings('ignore')

matplotlib.rc('font', family = 'NanumBarunGothic')
matplotlib.rc('axes', unicode_minus = False)

In [2]:
def get_shift(hour):
    if 6 <= hour < 14:
        return "1교대"
    elif 14 <= hour < 22:
        return "2교대"
    else:
        return "3교대"

In [3]:
df = pd.read_csv("/home/piai/다운로드/01_실습파일/2. Big Data 분석/SCALE불량.csv", encoding = 'euc-kr')
df.shape

(1000, 21)

In [4]:
df.head()

,plate_no,rolling_date,scale,spec_long,spec_country,steel_kind,pt_thick,pt_width,pt_length,hsb,...,fur_input_row,fur_heat_temp,fur_heat_time,fur_soak_temp,fur_soak_time,fur_total_time,rolling_method,rolling_temp,descaling_count,work_group
0,PLT_1001,03JAN2023:07:07:53,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,...,1열,1144,116,1133,59,259,TMCP(온도제어),934,8,1조
1,PLT_1002,03JAN2023:07:21:22,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,...,2열,1144,122,1135,53,238,TMCP(온도제어),937,8,1조
2,PLT_1003,03JAN2023:07:31:15,양품,NV-E36-TM,영국,T,33,3600,19200,적용,...,1열,1129,116,1121,55,258,TMCP(온도제어),889,8,1조
3,PLT_1004,03JAN2023:07:41:01,양품,NV-E36-TM,영국,T,33,3600,19200,적용,...,2열,1152,125,1127,68,266,TMCP(온도제어),885,8,1조
4,PLT_1005,03JAN2023:07:52:40,양품,BV-EH36-TM,프랑스,T,38,3100,13300,적용,...,1열,1140,134,1128,48,246,TMCP(온도제어),873,8,1조

In [5]:
df.describe()

,pt_thick,pt_width,pt_length,fur_heat_temp,fur_heat_time,fur_soak_temp,fur_soak_time,fur_total_time,rolling_temp,descaling_count
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,26.78200,2831.900000,36788.200000,1157.245000,85.972000,1150.928000,71.720000,238.589000,934.637000,8.557000
std,18.13757,494.081478,13912.387116,21.245007,26.346297,17.344384,20.602137,38.194828,96.598015,1.604158
min,12.00000,1800.000000,7900.000000,1103.000000,55.000000,1113.000000,35.000000,165.000000,0.000000,5.000000
25%,15.00000,2500.000000,26650.000000,1140.000000,66.000000,1135.750000,57.750000,210.000000,893.750000,8.000000
50%,19.00000,2800.000000,40400.000000,1159.000000,75.000000,1156.000000,66.000000,230.000000,948.000000,9.000000
75%,34.00000,3100.000000,49100.000000,1173.000000,102.250000,1164.000000,81.000000,263.000000,991.000000,10.000000
max,100.00000,4600.000000,54900.000000,1206.000000,158.000000,1185.000000,145.000000,362.000000,1078.000000,10.000000

In [6]:
df.describe(include = 'object')

,plate_no,rolling_date,scale,spec_long,spec_country,steel_kind,hsb,fur_no,fur_input_row,rolling_method,work_group
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,1000,2,66,7,2,2,3,2,2,4
top,PLT_1001,03JAN2023:07:07:53,양품,JS-SM490YB,영국,C,적용,3호기,1열,CR(제어압연),2조
freq,1,1,690,84,256,755,953,342,508,840,292

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   plate_no         1000 non-null   object
 1   rolling_date     1000 non-null   object
 2   scale            1000 non-null   object
 3   spec_long        1000 non-null   object
 4   spec_country     1000 non-null   object
 5   steel_kind       1000 non-null   object
 6   pt_thick         1000 non-null   int64
 7   pt_width         1000 non-null   int64
 8   pt_length        1000 non-null   int64
 9   hsb              1000 non-null   object
 10  fur_no           1000 non-null   object
 11  fur_input_row    1000 non-null   object
 12  fur_heat_temp    1000 non-null   int64
 13  fur_heat_time    1000 non-null   int64
 14  fur_soak_temp    1000 non-null   int64
 15  fur_soak_time    1000 non-null   int64
 16  fur_total_time   1000 non-null   int64
 17  rolling_method   1000 non-null   object
 18  rolling_temp     1000 non-null   int64
 19  descaling_count  1000 non-null   int64
 20  work_group       1000 non-null   object
dtypes: int64(10), object(11)
memory usage: 164.2+ KB

In [8]:
df['timestamp'] = pd.to_datetime(df['rolling_date'], format='%d%b%Y:%H:%M:%S')
df['day'] = df['rolling_date'].str[1]
df['hour'] = df['timestamp'].dt.hour
df['day_of_week'] = df['timestamp'].dt.dayofweek
df['is_weekend'] = df['day_of_week'] >= 5
df['day_of_week'] = df['day_of_week'].astype(str)
df['is_weekend'] = df['is_weekend'].astype(str)

In [9]:
df_y = df['scale']
df_x = df.drop(columns=['scale'])

In [10]:
df_x.drop(labels=['plate_no', 'spec_long', 'rolling_date', 'timestamp'], axis=1, inplace=True)
df_x = df_x.drop(df[df['rolling_temp'] == 0].index)
df_x['shift'] = df_x['hour'].apply(get_shift)
df_x.drop(labels=['hour'], axis=1, inplace=True)
df_char = df_x.select_dtypes(include="object")

df_encoded = pd.get_dummies(df_char)

df_x = pd.concat([df_x, df_encoded], axis=1)

df_x.drop(labels=['spec_country', 'steel_kind','hsb' ,'fur_no', 'fur_input_row', 'rolling_method', 'work_group', 'is_weekend',\
                  'day', 'day_of_week', 'shift'], axis=1, inplace=True)

In [11]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994 entries, 0 to 999
Data columns (total 52 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   pt_thick                   994 non-null    int64
 1   pt_width                   994 non-null    int64
 2   pt_length                  994 non-null    int64
 3   fur_heat_temp              994 non-null    int64
 4   fur_heat_time              994 non-null    int64
 5   fur_soak_temp              994 non-null    int64
 6   fur_soak_time              994 non-null    int64
 7   fur_total_time             994 non-null    int64
 8   rolling_temp               994 non-null    int64
 9   descaling_count            994 non-null    int64
 10  spec_country_공통            994 non-null    uint8
 11  spec_country_독일            994 non-null    uint8
 12  spec_country_미국            994 non-null    uint8
 13  spec_country_영국            994 non-null    uint8
 14  spec_country_일본            994 non-null    uint8
 15  spec_country_프랑스           994 non-null    uint8
 16  spec_country_한국            994 non-null    uint8
 17  steel_kind_C               994 non-null    uint8
 18  steel_kind_T               994 non-null    uint8
 19  hsb_미적용                    994 non-null    uint8
 20  hsb_적용                     994 non-null    uint8
 21  fur_no_1호기                 994 non-null    uint8
 22  fur_no_2호기                 994 non-null    uint8
 23  fur_no_3호기                 994 non-null    uint8
 24  fur_input_row_1열           994 non-null    uint8
 25  fur_input_row_2열           994 non-null    uint8
 26  rolling_method_CR(제어압연)    994 non-null    uint8
 27  rolling_method_TMCP(온도제어)  994 non-null    uint8
 28  work_group_1조              994 non-null    uint8
 29  work_group_2조              994 non-null    uint8
 30  work_group_3조              994 non-null    uint8
 31  work_group_4조              994 non-null    uint8
 32  day_0                      994 non-null    uint8
 33  day_3                      994 non-null    uint8
 34  day_4                      994 non-null    uint8
 35  day_5                      994 non-null    uint8
 36  day_6                      994 non-null    uint8
 37  day_7                      994 non-null    uint8
 38  day_8                      994 non-null    uint8
 39  day_9                      994 non-null    uint8
 40  day_of_week_0              994 non-null    uint8
 41  day_of_week_1              994 non-null    uint8
 42  day_of_week_2              994 non-null    uint8
 43  day_of_week_3              994 non-null    uint8
 44  day_of_week_4              994 non-null    uint8
 45  day_of_week_5              994 non-null    uint8
 46  day_of_week_6              994 non-null    uint8
 47  is_weekend_False           994 non-null    uint8
 48  is_weekend_True            994 non-null    uint8
 49  shift_1교대                  994 non-null    uint8
 50  shift_2교대                  994 non-null    uint8
 51  shift_3교대                  994 non-null    uint8
dtypes: int64(10), uint8(42)
memory usage: 126.2 KB