In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import statsmodels.formula.api as smf
from statsmodels.api import qqplot, add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.proportion import proportions_ztest

import graphviz
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import RFE

from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, mean_absolute_percentage_error

import warnings
warnings.filterwarnings('ignore')

matplotlib.rc('font', family = 'NanumBarunGothic')
matplotlib.rc('axes', unicode_minus = False)

In [2]:
df = pd.read_csv("/home/piai/청년아카데미/01 실습파일/2. Big Data 분석/SCALE불량.csv", encoding = 'euc-kr')
df

,plate_no,rolling_date,scale,spec_long,spec_country,steel_kind,pt_thick,pt_width,pt_length,hsb,...,fur_input_row,fur_heat_temp,fur_heat_time,fur_soak_temp,fur_soak_time,fur_total_time,rolling_method,rolling_temp,descaling_count,work_group
0,PLT_1001,03JAN2023:07:07:53,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,...,1열,1144,116,1133,59,259,TMCP(온도제어),934,8,1조
1,PLT_1002,03JAN2023:07:21:22,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,...,2열,1144,122,1135,53,238,TMCP(온도제어),937,8,1조
2,PLT_1003,03JAN2023:07:31:15,양품,NV-E36-TM,영국,T,33,3600,19200,적용,...,1열,1129,116,1121,55,258,TMCP(온도제어),889,8,1조
3,PLT_1004,03JAN2023:07:41:01,양품,NV-E36-TM,영국,T,33,3600,19200,적용,...,2열,1152,125,1127,68,266,TMCP(온도제어),885,8,1조
4,PLT_1005,03JAN2023:07:52:40,양품,BV-EH36-TM,프랑스,T,38,3100,13300,적용,...,1열,1140,134,1128,48,246,TMCP(온도제어),873,8,1조
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,PLT_1996,10JAN2023:05:32:25,양품,BV-A,프랑스,C,19,3400,41500,적용,...,2열,1142,55,1151,86,203,CR(제어압연),948,10,4조
996,PLT_1997,10JAN2023:05:39:19,양품,LR-A,영국,C,19,3400,41500,적용,...,2열,1142,55,1151,86,209,CR(제어압연),948,10,4조
997,PLT_1998,10JAN2023:05:52:41,양품,AB/AH32,미국,C,17,3400,43700,적용,...,2열,1169,65,1163,77,227,CR(제어압연),948,10,4조
998,PLT_1999,10JAN2023:06:01:50,양품,NV-A32,영국,C,17,3400,43700,적용,...,2열,1169,65,1163,77,204,CR(제어압연),948,10,4조
999,PLT_2000,10JAN2023:06:16:27,양품,GL-A32,독일,C,16,3400,54200,적용,...,1열,1186,82,1169,45,208,CR(제어압연),957,10,4조

In [3]:
df1 = df.iloc[:, :13]
df1

,plate_no,rolling_date,scale,spec_long,spec_country,steel_kind,pt_thick,pt_width,pt_length,hsb,fur_no,fur_input_row,fur_heat_temp
0,PLT_1001,03JAN2023:07:07:53,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,1호기,1열,1144
1,PLT_1002,03JAN2023:07:21:22,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,1호기,2열,1144
2,PLT_1003,03JAN2023:07:31:15,양품,NV-E36-TM,영국,T,33,3600,19200,적용,2호기,1열,1129
3,PLT_1004,03JAN2023:07:41:01,양품,NV-E36-TM,영국,T,33,3600,19200,적용,2호기,2열,1152
4,PLT_1005,03JAN2023:07:52:40,양품,BV-EH36-TM,프랑스,T,38,3100,13300,적용,3호기,1열,1140
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,PLT_1996,10JAN2023:05:32:25,양품,BV-A,프랑스,C,19,3400,41500,적용,1호기,2열,1142
996,PLT_1997,10JAN2023:05:39:19,양품,LR-A,영국,C,19,3400,41500,적용,1호기,2열,1142
997,PLT_1998,10JAN2023:05:52:41,양품,AB/AH32,미국,C,17,3400,43700,적용,2호기,2열,1169
998,PLT_1999,10JAN2023:06:01:50,양품,NV-A32,영국,C,17,3400,43700,적용,2호기,2열,1169
999,PLT_2000,10JAN2023:06:16:27,양품,GL-A32,독일,C,16,3400,54200,적용,3호기,1열,1186

In [4]:
df2 = df.iloc[:, 13:]
df2

,fur_heat_time,fur_soak_temp,fur_soak_time,fur_total_time,rolling_method,rolling_temp,descaling_count,work_group
0,116,1133,59,259,TMCP(온도제어),934,8,1조
1,122,1135,53,238,TMCP(온도제어),937,8,1조
2,116,1121,55,258,TMCP(온도제어),889,8,1조
3,125,1127,68,266,TMCP(온도제어),885,8,1조
4,134,1128,48,246,TMCP(온도제어),873,8,1조
...,...,...,...,...,...,...,...,...
995,55,1151,86,203,CR(제어압연),948,10,4조
996,55,1151,86,209,CR(제어압연),948,10,4조
997,65,1163,77,227,CR(제어압연),948,10,4조
998,65,1163,77,204,CR(제어압연),948,10,4조
999,82,1169,45,208,CR(제어압연),957,10,4조

## work_group 이상치 --> Great

In [5]:
work_group_rank = df['work_group'].value_counts().sort_values(ascending = False)
work_group_rank

# 이상치 X

2조    292
1조    280
3조    218
4조    210
Name: work_group, dtype: int64

## descailing_count 이상치 --> Great

In [6]:
descaling_count_rank = df['descaling_count'].value_counts().sort_values(ascending = False)
descaling_count_rank

# 이상치 X

10    488
8     249
6     206
9      31
7      20
5       6
Name: descaling_count, dtype: int64

## rolling_method 이상치 --> Great

In [7]:
rolling_method_rank = df['rolling_method'].value_counts().sort_values(ascending = False)
rolling_method_rank

# 이상치 X

CR(제어압연)      840
TMCP(온도제어)    160
Name: rolling_method, dtype: int64

## fur_input_row 이상치 --> Great

In [8]:
fur_input_row_rank = df['fur_input_row'].value_counts().sort_values(ascending = False)
fur_input_row_rank

# 이상치 X

1열    508
2열    492
Name: fur_input_row, dtype: int64

## fur_no 이상치 --> Great

In [9]:
fur_no_rank = df['fur_no'].value_counts().sort_values(ascending = False)
fur_no_rank

# 이상치 X

3호기    342
1호기    333
2호기    325
Name: fur_no, dtype: int64

## hsb 이상치 --> Great

In [10]:
hsb_rank = df['hsb'].value_counts().sort_values(ascending = False)
hsb_rank

# 이상치 X

적용     953
미적용     47
Name: hsb, dtype: int64

## steel_kind 이상치 --> Great

In [11]:
steel_kind_rank = df['steel_kind'].value_counts().sort_values(ascending = False)
steel_kind_rank

# 이상치 X

C    755
T    245
Name: steel_kind, dtype: int64

## spec_country --> Great

In [12]:
spec_country_rank = df['spec_country'].value_counts().sort_values(ascending = False)
spec_country_rank

# 이상치 X

영국     256
일본     187
미국     159
프랑스    143
한국     132
독일      87
공통      36
Name: spec_country, dtype: int64

## spec_long --> Great

In [13]:
spec_long_rank = df['spec_long'].value_counts().sort_values(ascending = False)
spec_long_rank

# 좀 더 알아보자 아니? --> 열제거 --> 이상치X

JS-SM490YB     84
LR-A           81
LR-AH32        52
AB/A           51
NV-A           48
               ..
LR-AH36         1
BV-AH36-TM      1
A131-DH36TM     1
KR-B            1
KS-HSB600       1
Name: spec_long, Length: 66, dtype: int64

## scale --> Great

In [14]:
scale_rank = df['scale'].value_counts().sort_values(ascending = False)
scale_rank

# 이상치 X

양품    690
불량    310
Name: scale, dtype: int64

## rolling_date --> Great

In [15]:
rolling_date_rank = df['rolling_date'].value_counts().sort_values(ascending = False)
rolling_date_rank

# 예인이가 올려준 파일 확인 --> 이상치 X

03JAN2023:07:07:53    1
03JAN2023:09:27:31    1
03JAN2023:12:20:57    1
03JAN2023:12:13:55    1
03JAN2023:07:31:15    1
                     ..
10JAN2023:05:26:45    1
10JAN2023:05:32:25    1
10JAN2023:05:39:19    1
10JAN2023:05:52:41    1
10JAN2023:06:16:27    1
Name: rolling_date, Length: 1000, dtype: int64

## plate_no --> Great

In [16]:
# 열제거 --> 이상치 X